<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">


    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/toolmanagesys?useSSL=false"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect"> org.hibernate.dialect.MySQLDialect </prop>
            </props>
        </property>
        <property name="mappingResources">
            <list>
                <value>po/ProcessRecord.hbm.xml</value>
                <value>po/PurchaseRecord.hbm.xml</value>
                <value>po/User.hbm.xml</value>
                <value>po/Scrap.hbm.xml</value>
                <value>po/FixRecord.hbm.xml</value>
                <value>po/ToolEntity.hbm.xml</value>
                <value>po/DefineTool.hbm.xml</value>
                <value>po/PeriodCheck.hbm.xml</value>
                <value>po/WareHouseRecord.hbm.xml</value>
            </list>
        </property>
    </bean>

    <!--po类-->
    <bean name="user" class="po.User"/>
    <bean name="purRecord" class="po.PurchaseRecord"/>
    <bean name="scrap" class="po.Scrap"/>
    <bean name="fixRecord" class="po.FixRecord"/>
    <bean name="defineTool" class="po.DefineTool"/>
    <bean name="toolEntity" class="po.ToolEntity"/>
    <bean name="wareHouseRecord" class="po.WareHouseRecord"/>

    <!--pojo类——非持久化类-->
    <bean name="checkList" class="pojo.CheckList"/>

    <!--dao类-->
    <bean id="baseDAO" class="dao.BaseDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="userDAO" class="dao.UserDAO" parent="baseDAO"/>
    <bean id="processDAO" class="dao.ProcessDAO" parent="baseDAO"/>
    <bean id="purDAO" class="dao.PurchaseRecordDAO" parent="baseDAO"/>
    <bean id="scrapDAO" class="dao.ScrapDAO" parent="baseDAO"/>
    <bean id="fixDAO" class="dao.FixRecordDAO" parent="baseDAO"/>
    <bean id="toolEntityDAO" class="dao.ToolEntityDAO" parent="baseDAO"/>
    <bean id="defineToolDAO" class="dao.DefineToolDAO" parent="baseDAO"/>
    <bean id="periodCheckDAO" class="dao.PeriodCheckDAO" parent="baseDAO"/>
    <bean id="wareHouseDAO" class="dao.WareHouseDAO" parent="baseDAO"/>

    <!--service类-->
    <bean name="userService" class="service.UserService">
        <property name="userDAO" ref="userDAO"/>
    </bean>
    <bean name="purRecordService" class="service.PurchaseRecordService">
        <property name="purchaseRecordDAO" ref="purDAO"/>
    </bean>
    <bean name="processService" class="service.ProcessService">
        <property name="processDAO" ref="processDAO"/>
        <property name="periodCheckDAO" ref="periodCheckDAO"/>
    </bean>
    <bean name="scrapService" class="service.ScrapRecordService">
        <property name="scrapDAO" ref="scrapDAO"/>
    </bean>
    <bean name="fixRecordService" class="service.FixRecordService">
        <property name="fixRecordDAO" ref="fixDAO"/>
    </bean>
    <bean name="toolEntityService" class="service.ToolEntityService">
        <property name="toolEntityDAO" ref="toolEntityDAO"/>
    </bean>
    <bean name="defineToolService" class="service.DefineToolService">
        <property name="defineToolDAO" ref="defineToolDAO"/>
    </bean>
    <bean name="periodCheckService" class="service.PeriodCheckService">
        <property name="periodCheckDAO" ref="periodCheckDAO"/>
        <property name="defineToolDAO" ref="defineToolDAO"/>
        <property name="userDAO" ref="userDAO"/>
        <property name="mailUtil" ref="mail"/>
    </bean>
    <bean name="wareHouseService" class="service.WareHouseService">
        <property name="wareHouseDAO" ref="wareHouseDAO"/>
    </bean>

    <!--action类-->
    <bean name="userAction" class="action.UserAction">
        <property name="userService" ref="userService"/>
        <property name="checkList" ref="checkList"/>
    </bean>
    <bean name="purchaseRecordAction" class="action.PurchaseRecordAction">
        <property name="checkList" ref="checkList"/>
        <property name="purchaseRecordService" ref="purRecordService"/>
        <property name="processService" ref="processService"/>
        <property name="toolEntityService" ref="toolEntityService"/>
        <property name="periodCheckService" ref="periodCheckService"/>
    </bean>
    <!--报废Action声明-->
    <bean name="scrapAction" class="action.ScrapRecordAction">
        <property name="scrapService" ref="scrapService"/>
        <property name="processService" ref="processService"/>
        <property name="checkList" ref="checkList"/>
        <property name="toolEntityService" ref="toolEntityService"/>
    </bean>
    <bean name="fixRecordAction" class="action.FixRecordAction">
        <property name="checkList" ref="checkList"/>
        <property name="fixRecordService" ref="fixRecordService"/>
        <property name="processService" ref="processService"/>
    </bean>
    <bean name="defineToolAction" class="action.DefineToolAction">
        <property name="deletelist" ref="checkList"/>
        <property name="defineToolService" ref="defineToolService"/>
    </bean>
    <bean name="toolEntityAction" class="action.ToolEntityAction">
        <property name="toolEntityService" ref="toolEntityService"/>
    </bean>
    <!--进出库Action声明-->
    <bean name="WareHouseAction" class="action.WareHouseAction">
        <property name="wareHouseRecord" ref="wareHouseRecord"/>
        <property name="wareHouseService" ref="wareHouseService"/>
        <property name="checkList" ref="checkList"/>
    </bean>
    <!--查询流程时间轴-->
    <bean name="processAction" class="action.ProcessAction">
        <property name="processService" ref="processService"/>
    </bean>


    <!--Util类-->
    <!--邮件相关-->
    <bean name="mail" class="util.JavaMailUtil">
        <property name="username" value="toolmanagesystem@163.com"/>
        <property name="password" value="SJPLBCHBKHIIQCLF"/>
        <property name="smtpServer" value="smtp.163.com"/>
    </bean>

    <!--工作详情类-->
    <bean name="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="periodCheckService"/>
        <property name="targetMethod" value="alert"/>
    </bean>

    <!--配置触发器-->
    <bean name="trigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail"/>
        <property name="cronExpression" value="0 30 * * * ? *"/>
    </bean>

    <!--配置调度工厂-->
    <bean name="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="trigger"/>
            </list>
        </property>
    </bean>

    <!--生成Excel-->
    <bean name="exportExcel" class="util.ExportUtil">
        <property name="purchaseRecordService" ref="purRecordService"/>
    </bean>

</beans>