<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--po类-->
    <bean name="user" class="po.User"/>
    <bean name="application" class="po.Application"/>
    <bean name="purRecord" class="po.PurchaseRecord"/>

    <!--pojo类——不需要存入数据库-->
    <bean name="checkList" class="pojo.CheckList"/>

    <!--service类-->
    <!--是否需要将参数交给spring?-->
    <bean name="userService" class="service.UserService"/>
    <bean name="applyService" class="service.ApplyService"/>
    <bean name="purRecordService" class="service.PurchaseRecordService"/>
    <bean name="processService" class="service.ProcessService"/>

    <!--action类-->
    <bean name="userAction" class="action.UserAction">
        <property name="loginUser" ref="user"/>
        <property name="userService" ref="userService"/>
    </bean>
    <bean name="applyAction" class="action.ApplyAction">
        <property name="apply" ref="application"/>
        <property name="applyService" ref="applyService"/>
    </bean>

    <!--采购入库申请-->
    <bean name="purchaseRecordAction" class="action.PurchaseRecordAction">
        <property name="purchaseRecord" ref="purRecord"/>
        <property name="checkList" ref="checkList"/>
        <property name="purchaseRecordService" ref="purRecordService"/>
        <property name="processService" ref="processService"/>
    </bean>

</beans>