<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="HibernateSessionFactory">
        <property name="hibernate.connection.driver_class"> com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url"> jdbc:mysql://localhost:3306/toolmanagesys?useSSL=false</property>
        <property name="hibernate.connection.username"> root</property>
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.dialect"> org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.autocommit">true</property>
        <!--没有写完的hbm放入其中可能产生错误!!!-->
        <mapping resource="po/User.hbm.xml" />
        <mapping resource="po/Application.hbm.xml"/>
        <mapping resource="po/PurchaseRecord.hbm.xml"/>
        <mapping resource="po/ProcessRecord.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
